* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.header {
	height: 85vh;
	width: 100%;
	background-image: url(../images/back5.jpg);
	background-color: rgba(32, 30, 30, 0.333);
	background-size: cover;
	background-position: center;
}

.header:after {
	background-color: rgba(32, 30, 30, 0.333);
	position: absolute;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	color: white;
	font-size: 30px;
	letter-spacing: 1px;
	cursor: pointer;
}

.logo span {
	color: #14b783;
	font-size: 25px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover {
	color: #14b783;
	transition: .4s;
}

.weather_disp {
	margin-top: 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding-top: 30px;
}

.weather_disp_img,
.weather_disp_info {
	width: 40%;
	/* border: 1px solid rgb(9, 9, 9); */
	margin: 2em;
	color: aliceblue;
	text-align: center;
	margin-top: 3em;
}

.weather_disp_img img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	display: none;
}

.weather_disp_info,
.country_disp_info {
	margin-top: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.base_info {
	margin-top: 3em;
	margin-left: 5em;
	text-align: left;
}

.base_info_det {
	margin-bottom: 0.75em;
}

.base_info_det i {
	color: aliceblue;
	font-size: large;

}

.fa-wind:hover {

}

.temp {
	font-size: 5rem;
	color: aliceblue;
	margin-bottom: 0.5em;
	display: inline-block;
}

.swap_temp {
	margin-top: 1em;
}

#cel, #far {
	cursor: pointer;
}

#unit_d {
	position: absolute;
	font-size: 2.5rem;
	margin-top: 0.3rem;
	font-weight: 400;
	color: aliceblue;
}

/* #min_temp:after,
#max_temp:after {
	content: "°C";
	position: absolute;
	font-size: 2.5rem;
	margin-top: 0.3rem;
	font-weight: 400;
	color: aliceblue;
} */

.select_option,
.country_disp_info {
	width: 30%;
	/* border: 1px solid rgb(9, 9, 9); */
	margin: 2em;
	color: #14b783;
	text-align: center;
}

.dropDown {
	position: relative;
	font-family: Arial;
}

select {
	padding: 8px;
	width: 200px;
	text-align: center;
	background-color: transparent;
	color: #14b783;
	margin-top: 1em;
	border-radius: 10px;
	border: 0.5px solid gray;
}

.forecast_header {
	font-size: 3rem;
	text-align: center;
	margin: 1em;
}

.forecast_graph {
	height: 50vh;
	width: 70%;
	margin: 1em auto;
	/* border: #14b783 1px solid; */
	margin-bottom: 5em;
}

.footer {
	height: 40vh;
}